//- article.jade
doctype html
html
  include ./includes/head.jade
  p 
    span 
    if (user && (user.name == post.name))
      a(class='edit', href='/edit/#{post.name}/#{post.title}/#{post.time.day}') 编辑
      a(class='edit', href='/remove/#{post.name}/#{post.title}/#{post.time.day}') 删除
  p.info 作者：
    a(href='/u/#{post.name}')= post.name
    |    | 日期：
    a(href='#')= post.time.miniute
  p!= post.post
  
  
  include ./includes/comment.jade
  include ./includes/foot.jade
